@charset "utf-8";

body
{   
    font-size: 9pt;
    /*font-family: Verdana, 'Trebuchet MS' , Arial;*/
    margin: 0px;
    background-color:#e8f1e7;
}

div { float:left; }

#dvLayer
{
    width:1024px;
    font-family:Arial Black;
    margin: 20px 0px 0px 20px;
    padding:20px;
    background-color:#FCFCFB;
}
#dvHeader, #dvSubHeader, #dvOutput
{
    width:100%;
}
#dvChart
{
    width:100%;
}
#dvTitle, #dvSubTitle
{
    font-weight:bolder;
    font-family:±¼¸²;
    width:35%;
}
#dvSearchDate, #dvSubSearchType
{
    width:65%;
    text-align:right;
}
.dvSeparator
{
    height:20px; 
    width:100%; 
    vertical-align:middle;
}
#txtStartDate, #txtEndDate
{
    width:120px;
}
#dvAge, #dvChartType, #dvGame
{
    width:33%;
    text-align:right;
}
#tbAge, #tbChartType, #tbGame
{
    width:98%;
    text-align:right;
    border:1px solid #000000;
}
tr.header
{
    color:White;
    font-weight:bolder;
    background-color:Black;
    text-align:center;
}
select.subSearchType
{
    width:100%;
}

#tbContents
{
    width:100%;
    border-bottom-width:medium;
}

#tbContents td
{
    text-align:center;
}